{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h1>Say something</h1>
  <form role="form" method='POST' action='/'>
    <div class="form-group">
      <input type="text" name="url" class="form-control" id="url-box" placeholder="Enter URL..." style="max-width: 300px;" autofocus required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  <br>
<!--
  {% for error in errors %}
    <h4>{{ error }}</h4>
  {% endfor %} -->

  {% if results %}
    <p>{{results}}</p>
  {% endif %}

  {% if calories_data %}
    <p>{{calories_data}}</p>
  {% endif %}
</div>
{% endblock%}
